body {
  margin: 0;
  font-family: sans-serif;
  background-color: #003366 ;
  overflow-x: hidden;
}

nav {
  color: #ddd;
}

nav h4 {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {

}

nav a {
  color: #ddd;
  width: 10em;
  text-decoration: none;
  display: block;
  padding: 1em;
  box-sizing: border-box;
  background: #333;
  cursor: pointer;
  transition: background 1s ease-out;
  margin-bottom: 3px;
}

nav a:hover {
  background: #000;
  color: #fff;
}

nav a.active {
  background: #000;
  color: #fff;
  border-right: solid 1em white;
}

main {
  background: #fff;
  padding: 2em;
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
}

img {
  float: left;
  margin: 0 1em 2em;
  max-width: 75%;
}

.validatie img {
      height: 1em;
      width: auto;
      border: 0;
      margin: 0 .3em;
      cursor: pointer;
}

.validatie {
  height: 1em;
  width: auto;
  border: 0;
  margin: 0 .3em;
  cursor: pointer;
  margin-left: 670px;
  margin-right: auto;
  margin-bottom: 10px;
}

#toggleMenu {
  display: none;

}

.container {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.info {
  /* float: left; */
  /* margin-top: 550px; */
}

footer{
   position: inherit;
   left: 0;
   /* bottom: 0; */
   width: 100%;
   background-color: #003366;
   color: white;
   text-align: center;
   border-radius: 0px;
}

/* menu schuift */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003366;
  overflow-x: hidden;
  transition:  .6s cubic-bezier(.21,.6,.58,1.5);
  padding-top: 60px;
  list-style-type: none;
}

.sidenav a {
  color: #ddd;
  width: 10em;
  text-decoration: none;
  display: block;
  padding: 1em;
  box-sizing: border-box;
  background: #333;
  cursor: pointer;
  margin-bottom: 3px;
  list-style-type: none;
}

.sidenav a:hover {
  background: #000;
  color: #fff;
}

.sidenav a.active {
  background: #000;
  color: #fff;
  border-right: solid 1em white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

#menu {
  text-align: center;
  color: #ddd;
}
.sidenav_ul {
  list-style-type: none;
  margin-left: -40px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* alles */

.sidenav_ul2 {
  list-style-type: none;
  margin-left: 500px;
  margin-right: 550px;
  text-align:center;

    }

.sidenav2 {
  height: 110%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #003366;
  overflow-x: hidden;
  transition:  .6s cubic-bezier(.21,.6,.58,1.5);
  padding-top: 60px;
  text-align:center;
  list-style-type: none;
}

.sidenav2 a {
  color: #ddd;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
  background: #333;
  margin-bottom: 3px;
  width: 100%;
list-style-type: none;
}

.sidenav2 a:hover{
  background: #000;
  color: #fff;
}

.sidenav2 a.active {
  background: #000;
  color: #fff;
  border-right: solid 1em white;
}

.sidenav2 .closebtn2 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
